<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Now News is an easy, personalized way to get local weather (powered by forecast.io) and breaking news (from The New York Times, ABC News, and more) anywhere you are, on any device."/>
  <title>Now News: Breaking News and Weather by Henry Stern</title>
  <meta name="google-site-verification" content="LbrvdN9nr3mcphk1S70g6C3e9NncYvq02sxGOJQHipg" />
  <link rel="icon" href="http://i.imgur.com/JpJwXep.png">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</head>
<body class="index-body">
  <div class="dontneedthis">
  <div class="container">
  <h1>Welcome to Now News & Weather.</h1>
  <h5>To begin, type in your location and first name below.<br></h5>
  <br>
    <form method="GET" action="/news" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input name="first_name" type="text" class="validate" class ="active" value ="<%= @username %>">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input name="zip_code" type="text" class="validate" class="active" value = "<%= @userlocation %>">
          <label for="zip_code">Your zip code</label>
        </div>
        <button class="btn waves-effect waves-light right-button btn right" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
    <script type="text/javascript">
  function clearText(a){if(a.defaultValue==a.value){a.value=""}else{if(a.value==""){a.value=a.defaultValue}}};
  </script>
  </form>
</div>
<br>

</body>
</html>
