.news-container { /* This centers the user's news brief */

html:not(.safari.mac) { /* All browsers except for Safari Mac */

  margin: 0px 0 0 -20%;
  margin-left: 0%;
  left: 50%;
    }
  }
.card {
    height: 60%;
    width: 90%;
}

.allerror {
  margin-left: 5%;
}

h6 b.mini-header {

}

.callout {
  color:blue;
}

.weathernews {
  background-color: #fafafa;
}

div.card-panel {
  margin: 0 auto;
}

.index-body {
  background: url("../images/image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
